    /* Estilos para la nueva sección del banner */
    .bannernosotros {
        background-image: url('cebolladesenfoque.jpg'); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la ruta de tu imagen de fondo */
        background-size: cover; /* Ajusta la imagen al tamaño del contenedor sin repetirla */
        background-repeat: no-repeat; /* Evita que se repita la imagen */
        background-position: center; /* Centra la imagen */
        padding: 40px;
        color: #452a1b; ; /* Cambia el color del texto si es necesario */
        font-size: 24px;
    }
    
    .bannernosotros-content {
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: center;
        justify-content: space-between;
    }
    
    .bannernosotros-text {
        flex: 1;
    }
    
    .bannernosotros-text h2 {
        font-size: 34px;
        color: #333; /* Color del texto */
        margin-bottom: 10px;
    }
    
    .bannernosotros-text p {
        font-size: 18px;
        color: #452a1b; /* Color del texto secundario */
        font-size: 20px;
    }
    
    .bannernosotros-image img {
        max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
        border-radius: 100px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    

    @media (max-width: 768px){

        .mapa iframe{
            width: 80%;
        }

        .bannernosotros-text p {
            font-size: 14px;
        }

        .bannernosotros-text h3 {
            font-size: 16px;
        }
        
    }