*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.encabezado{
    background-color: whitesmoke;
}
.logo{
    display: flex;  
    align-items: center;
    width: 100%;
}
.sesion{
    margin-left: auto;
    padding-right: 20px;
}
.logo img{
    width: 15%;
}

.imagen{
    border-radius: 20px;
}
.cuerpo{
    
}
.caseras{
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    padding: 30px;
    background: linear-gradient(to right, whitesmoke 50%, #fad598);
}
.tipicas{
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    padding: 30px;
    background-color: whitesmoke;

}
p{
    font-size: 20px;
}

.izq{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
}
.izq img{
    width: 75%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}
.izq img:hover{
    transform: scale(1.1);
}

.der{
    text-align: justify;
    margin-bottom: 30px;
    padding: 50px;
}
.pie{
   background-color: #11915d;
   color: white;
}
.contenedorpie{
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    justify-content: center;
    padding: 30px;
}
.pieseccion{
    font-size: 16px;
} 
.pieseccion p{
    font-size: 16px;
}
.pieseccion ul{
    list-style-type: none;
}
.pieseccion a{
    text-decoration: none;
    color: white;
}

/* Estilos para el navbar */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    overflow: hidden;
}

ul.navbar li {
    margin-left: 50px;
    float: left;
}

ul.navbar li a {
    display: block;
    color: #452a1b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

ul.navbar li a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 20px;
}



 /* Estilos para la ventana emergente */
 .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    z-index: 1;
}

    .modal-content {
       display: grid;
       grid-template-columns: 90%;
       align-items: center;
       justify-content: center;
    }

    /* Estilos para el formulario */
    #login-form {
        text-align: center;
        display:grid;
        grid-template-columns: 100%;
        justify-content: center;

    }
    #login-form input[type="text"],
    #login-form textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    #login-form button {
        background-color: #007BFF;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        font-weight: bold;
    }
    #close-button{
        background-color: #c02f2a;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        font-weight: bold;
    }


    /* Estilos para la nueva sección del banner */
.banner {
    background-image: url('cebolladesenfoque.jpg'); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor sin repetirla */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
    background-position: center; /* Centra la imagen */
    padding: 40px;
    color: white; /* Cambia el color del texto si es necesario */
}

.banner-content {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-content: space-between;
}

.banner-text {
    flex: 1;
}

.banner-text h2 {
    font-size: 34px;
    color: #333; /* Color del texto */
    margin-bottom: 10px;
}

.banner-text p {
    font-size: 18px;
    color: white; /* Color del texto secundario */
}

.banner-image img {
    max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
    border-radius: 100px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.btncompartir {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #11915d;
    color: #452a1b;
    padding: 10px;
    border-radius: 20px;
    width: 20%;
}

.btncompartir a {
    text-decoration: none;
    color: #452a1b;
    font-size: 18px;
    transition: 0.2s;
}
.btncompartir a:hover {
    text-decoration: none;
    color: #452a1b;
    font-size: 20px;
}


/* ESTILOS DE EL BUSCADOR*/
.search-container {
    text-align: left;
    margin: 20px;
    width: 100%;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 70%;
}

#search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

.sesion{
    background-color: #11915d;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
}

.sesion a{
    text-decoration: none;
    color:white;
}



/* Estilos para hacerlo responsive (ajustable a diferentes tamaños de pantalla) */
@media (max-width: 768px) {
    .banner-content {
        flex-direction: column; /* Cambia el diseño a apilado en pantallas pequeñas */
        text-align: center;
    }

    .banner-text h2 {
        font-size: 20px;
    }

    .banner-text p {
        font-size: 16px;
    }

    .caseras{
        font-size: 16px;
        grid-template-columns: 100%;
    }
    .tipicas{
        font-size: 16px;
        grid-template-columns: 100%;
    
    }
    p{
        font-size: 12px;
    }

    ul.navbar li a {
        
        font-size: 14px;
    }

    .contenedorpie{
        display: grid;
        grid-template-columns: 100% ;
        justify-content: center;
        padding: 30px;
    }

    .banner-content {
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .logo img{
        width: 50%;
    }

    .btncompartir {
        margin-left: 120px;
        margin-bottom: 20px;
    }
    
    .btncompartir a {
    
        font-size: 14px;
        
    }
}
